---
import { Image } from 'astro:assets'
import SectionLayout from '@/layouts/SectionLayout.astro'
import experiences from '@/data/Experiences.ts'
---

<SectionLayout>
  <div class='' id='experience'>
    <h2 class='text-3xl font-bold mb-5'>Experience</h2>
    <ul class='flex flex-col gap-y-8'>
      {
        experiences.map((experience) => (
          // <li class="lg:grid grid-cols-4 justify-normal p-2 rounded-md bg-clip-padding hover:backdrop-filter hover:backdrop-blur-sm hover:bg-opacity-50 hover:border border-white/40">
          <li class='grid grid-cols-4 justify-normal p-2 rounded-md relative group'>
            <div class='absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-white/40 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg' />
            <p class='text-sm col-span-1 italic z-10'>
              {experience.startDate} - <br />
              {experience.endDate}
            </p>
            <div class='col-span-3 z-10'>
              <div class='text-lg'>
                <h4 class=''>
                  {experience.title} · {experience.company}{' '}
                  {experience.link && (
                    <a
                      href={experience.link}
                      target='_blank'
                      rel='noopener noreferrer'
                    >
                      <Image
                        src={'/icons/link.svg'}
                        alt={'link'}
                        width={15}
                        height={15}
                        class='inline hover:scale-125 transition-all duration-150 ease-out ml-2'
                      />
                    </a>
                  )}
                </h4>
              </div>
              <h5 class='text-xs italic opacity-60'>{experience.location}</h5>
              <ul class='list-disc list-outside ml-3 mt-2'>
                {experience.description.map((desc) => (
                  <li class='text-sm'>{desc}</li>
                ))}
              </ul>
              <div class='flex flex-wrap gap-2 mt-2'>
                {experience.skills.map((skill) => (
                  <span
                    class='text-sm px-3 py-2 rounded-full 
                    border border-gray-300/50
                    bg-gray-100/10
                    backdrop-blur-[2px]
                    transition-all duration-300 
                    hover:bg-white/20 
                    hover:backdrop-blur-[6px]
                    hover:border-white/40
                    hover:shadow-[0_0_15px_rgba(255,255,255,0.15)]
                    hover:scale-105'
                  >
                    {skill}
                  </span>
                ))}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</SectionLayout>
