---
import { Image } from "astro:assets";
const links = [
  {
    name: "github",
    link: "https://github.com/NafiAsib",
    icon: "/icons/github.svg",
  },
  {
    name: "linkedin",
    link: "https://www.linkedin.com/in/nafiasib/",
    icon: "/icons/linkedin.svg",
  },
  {
    name: "twitter",
    link: "https://twitter.com/NafiAsib",
    icon: "/icons/twitter.svg",
  },
  {
    name: "facebook",
    link: "https://www.facebook.com/nafi.asib",
    icon: "/icons/facebook.svg",
  },
];
---

<ul
  class="flex gap-x-10 lg:flex-col gap-y-5 lg:fixed lg:bottom-[10%] lg:left-[10%]"
>
  {
    links.map((link) => (
      <li class="hover:scale-110 transform transition-all duration-300 z-30">
        <a
          href={link.link}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Opens ${link.name} link of Nafi`}
        >
          <Image
            src={link.icon}
            alt={link.name}
            width={40}
            height={40}
            class="text-white"
            alt={`${link.name} icon`}
          />
        </a>
      </li>
    ))
  }
</ul>
