---
import { Image } from 'astro:assets'
import { socialLinks } from '@/data'
---

<ul
  class='flex gap-x-10 lg:flex-col gap-y-5 lg:fixed lg:bottom-[10%] lg:left-[10%]'
>
  {
    socialLinks.map((link) => (
      <li class='hover:scale-110 transform transition-all duration-300 z-30'>
        <a
          href={link.link}
          target='_blank'
          rel='noopener noreferrer'
          aria-label={`Opens ${link.name} link of Nafi`}
        >
          <Image
            src={link.icon}
            alt={link.name}
            width={40}
            height={40}
            class='text-white'
            alt={`${link.name} icon`}
            loading='lazy'
          />
        </a>
      </li>
    ))
  }
</ul>
